// Typography
$font-family-main: 'PT Serif', serif;
$font-family-headings: 'PT Sans', sans-serif;
$font-size: 1.1em;

// Code
$font-family-code: 'PT Mono', monospace;
$font-size-code: 0.8em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #ffffff;
$background-color: #ffffff;
$border-color: rgba(0, 0, 0, 0.03); // rgba recommended if using feature images

// Typography colours
$text-color: rgba(0, 0, 0, .85);
$link-color: #383838;
$selection-color: rgba(0, 0, 0, 0.05); // visible when highlighting text

// Tags color
$tags-color: #b0b0b0;

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #ffffff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #383838;
$header-desc-text-color: #ffffff;
