// Typography
$font-family-main: 'Inter', serif;
$font-family-headings: 'Roboto Slab', sans-serif;
$font-size: 1.2em;

// Code
$font-family-code: 'Roboto Mono', monospace;
$font-size-code: 0.8em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #ffffff;
$background-color: #ffffff;
$border-color: rgb(13, 17, 23); // rgba recommended if using feature images

// Typography colours
$text-color: rgb(13, 17, 23);
$link-color: rgb(13, 17, 23);
$selection-color: rgba(0, 0, 0, 0.05); // visible when highlighting text

// Tags color
$tags-color: #b0b0b0;

// Header colours
$header-link-color: rgb(13, 17, 23);

// Feature image for articles
$feature-image-text-color: #ffffff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: rgb(13, 17, 23);
$header-desc-text-color: #ffffff;
